@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fredericka+the+Great&family=Lilita+One&family=Orbitron:wght@400..900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
}
.fontRoboto {
    font-family: Roboto;
}
.fontBungee{
    font-family: Bungee;
}
.fontrockSalt{
    font-family: Rock Salt;
}
.fontRighteous{
    font-family: Righteous;
}
.fontlilitaOne{
    font-family: Lilita One;
}
.fontfrederickatheGreat{
    font-family: Fredericka the Great;
}
.fontOrbitron{
    font-family: Orbitron;
}


.container {
    display: grid;
    place-items: center;  
    margin-top: 30vh;
}
.textField{
    margin-top: 2vh;
}
.generateavatarButton{
    margin-top: 2vh !important;
    margin-left: 1vh !important;
}


